body {
    background-image: url("https://img.freepik.com/premium-vector/hand-drawn-cookie-pattern-simple-cute-cookie-flat-seamless-pattern_562720-419.jpg?size=338&ext=jpg&ga=GA1.1.1412446893.1704412800&semt=ais");
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.cookie {
    touch-action: manipulation;
    background-image: url("https://images.squarespace-cdn.com/content/v1/5ee2faf4f02b1743dee82dca/1598493993474-7HX21CLX9X702ZXE75ON/Cookie+Menu-01.png");
    border: 0px solid #1A1A1A;
    background-position: center;
    background-color: #ffffff;
    background-size: 124%;
    border-radius: 125px;
    color: #ffffff;
    cursor: pointer;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 50px;
    font-weight: 1000;
    height: 250px;
    padding: 16px 24px;
    text-shadow: 2px 2px 8px #a7942b;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    width: 250px;
}

.cookie:active {
    box-shadow: none;
    transform: translateY(-4px);
}

div {
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #fae5be;
    font-weight: 1000;
    text-shadow: 2px 2px 8px #000000;
}

.container {
    border-radius: 10px;
    border: 5px solid #856944;
    background-color: #6e543b;
    min-width: 80px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.paragraf {
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 20px;
    font-weight: 1000;
    color: #fae5be;
    text-shadow: 2px 2px 8px #3a2a1b;
  }